services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    networks:
      - app-network
    restart: unless-stopped

  web:
    build: .
    command: gunicorn metrics.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - shared_data:/app/shared 
      - static_value:/app/staticfiles/ 
      - media_value:/app/media/
    environment:
      - DB_NAME
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - DB_HOST
      - DB_PORT
      - REDIS_URL
      - DJANGO_SUPERUSER_USERNAME
      - DJANGO_SUPERUSER_EMAIL
      - DJANGO_SUPERUSER_PASSWORD
    depends_on:
      - redis
      - db
    networks:
      - app-network
    restart: unless-stopped

  celery-worker:
    build: .
    command: celery -A metrics worker -l info
    volumes:
      - shared_data:/app/shared 
    environment:
      - DB_NAME
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - DB_HOST
      - DB_PORT
      - REDIS_URL
    depends_on:
      - redis
      - db
    networks:
      - app-network
    restart: unless-stopped

  celery-beat:
    build: .
    command: celery -A metrics beat -l info
    volumes:
      - shared_data:/app/shared 
    environment:
      - DB_NAME
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - DB_HOST
      - DB_PORT
      - REDIS_URL
    depends_on:
      - redis
      - db
    networks:
      - app-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network
  
  nginx: 
    image: nginx:1.21.3-alpine 
    ports: 
      - "80:80" 
    volumes: 
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf 
      - static_value:/var/html/static/ 
      - media_value:/var/html/media/
    networks:
      - app-network
    depends_on: 
      - web 

volumes:
  shared_data:
  postgres_data:
  static_value:
  media_value: 

networks:
  app-network:
    driver: bridge
